<style>
	.modal-full{
		min-width: 95%;
		height: 95%;
	}
</style>

<%= link_to 'Back', :back %>
<br>
<br>
<br>

<h5>Publicly Shared Location By: <b><%= @username %> </b></h5>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Shared Date</th>
      <th>Show on Map</th>
    </tr>
  </thead>
  </tbody>
    <% if @my_shared_locations.present? %>
        <% @my_shared_locations.each do |location| %>
            <tr>
            <td><%= location['latitude']  %></td>
            <td><%= location['longitude']  %></td>
            <td><%= location['updated_at'][0..9]  %></td>
            <td><%= location['show_on_map'].html_safe  %></td>
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="showLocationModal" tabindex="-1" role="dialog" aria-labelledby="showLocationModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content modal-full">
      <div class="modal-header">
        <h6 class="modal-title" id="showLocationModalTitle">Show location</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>

<script>
  function show_location(longitude,latitude){
    var query_str = "longitude="+longitude+"&latitude="+latitude;
    var iframe=" <iframe src='/show_location?"+query_str+"' class='w-100 h-100'></iframe> "
    $("#showLocationModal .modal-body").html(iframe);
    $(showLocationModal).modal(); 
	}
</script>