<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'show_location', 'data-turbolinks-track': 'reload' %>

<div class="container-fluid h-100">
  <div class="w-100 d-inline-block" style="height: 95%;">
    <div id='js-map' class='map'></div>
  </div>
</div>

<script> 
  var longitude = <%= @longitude %>;
  var latitude = <%= @latitude %>;
</script> 